* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	
	background-image: url('https://images.unsplash.com/photo-1463320726281-696a485928c7?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.searchArea, .result-area {
	/*color: black;*/
	color: #fff;
	max-width: 700px;
	margin-bottom: 10px;

	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;

	font-family: 'Questrial', sans-serif;
	line-height: 1.5;
}

.searchArea {
	margin-top: 50px;
}

#searchBook {
	padding: 10px;
	font-size: 14px;

	display: inline-block;
	width: 500px;
}

.submitBookSearch {
	border: 1px solid black;
	height: 100px;
}

.submitBtn {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 14px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

	font-size: 50px;
	font-family: 'Old Standard TT', serif;
}

.book-desc {
	text-align: center;
}

a {
	color: lightblue;
	font-style: none;
}
