* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	
	background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.searchArea {
	color: #fff;
	max-width: 700px;
	margin: 50px auto 15px;
	padding-bottom: 35px;

	border-radius: 5px;

	font-family: "Questrial", sans-serif;
	line-height: 1.5;

	background: rgba(0, 0, 0, 0.7);
}

.result-area {
	color: #fff;
	/* max-width handled by float-grid.css, row class */
	margin-bottom: 10px;

	border-radius: 5px;

	font-family: "Questrial", sans-serif;
	line-height: 1.5;
}

/***** style inside .searchArea *****/

.app-title {
	text-align: center;
	margin-bottom: 6px;
	padding-top: 25px;

	font-size: 50px;
	font-family: "Old Standard TT", serif;
}

.desc {
	padding: 0 40px;
	line-height: 1.3;
	letter-spacing: .3px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 22px;
}

.desc-first {
	margin-bottom: 25px;
}

/***** style <form> *****/

.submitBookSearch {
	height: 50px;
	margin-bottom: 15px;

	display: flex;
	justify-content: center;
}

#searchBook, .submitBtn {
	height: 100%;
	border: none;
}

#searchBook {
	border-radius: 5px 0 0 5px;
	padding: 10px;
	font-size: 14px;

	display: inline-block;
	width: 500px;
	background-color: white;
}

.submitBtn {
	border-radius: 0 5px 5px 0;
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;

  background-color: #00a0ee;
}

.submitBtn:hover {
	background-color: #0080cc;
}

/* fix Chrome's yellow background for text input */
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

/***** style inside .result-area container *****/

.js-single-result {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;

	/* With the background rgba alpha, margin-bottom creates 
	a "card" for each .js-single-result */
	margin-bottom: 15px;
	padding: 10px 20px;
}

.title-name {
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 25px;
	font-family: "Old Standard TT", serif;
}



/***** style video thumbnail, image overlay *****/

.img-container {
	position: relative;
  display: inline-block;
}

.img-container .overlay {
  position: absolute;
  pointer-events: none;
  
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  /*background: rgba(0, 0, 0, 0.5);*/
}

.img-container:hover .overlay {
  background: rgba(0, 0, 0, 0.3);
}

.img-vid {
	width: 100%;
}

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-youtube-play {
	color: #00a0ee;
}


/* remove space between spans, font-size: 0 ??? */


/* media and wikipedia styling */

.media-wiki-container {
	display: flex;
	justify-content: space-evenly;
}

.media-word {
	font-weight: bold;
}

.wiki-link {
	color: lightblue;
}

.wiki-link:hover {
	color: red;
}

/* teaser text */
.remainingText {
	color: #fff;
}

.showMore, .showLess {
	color: lightblue;
	cursor: pointer;
}

.hideText {
	display: none;
}

/* footer */
footer {
	color: white;
	font-family: "Questrial", sans-serif;
	font-size: 16px;

	margin-bottom: 15px;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

/*****************/
