* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	
	background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.searchArea, .result-area {
	color: #fff;
	max-width: 700px;
	margin-bottom: 10px;

	border-radius: 5px;

	font-family: "Questrial", sans-serif;
	line-height: 1.5;
}

/***** style inside .searchArea *****/

.searchArea {
	margin-top: 50px;
	background: rgba(0, 0, 0, 0.7);
}

.app-title {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

	font-size: 50px;
	font-family: "Old Standard TT", serif;
}

.book-desc {
	text-align: center;
	font-size: 25px;
}

/***** style <form> *****/

.submitBookSearch {
	height: 50px;
	margin-bottom: 15px;

	display: flex;
	justify-content: center;
}

#searchBook, .submitBtn {
	height: 100%;
	border: none;
}

#searchBook {
	border-radius: 5px 0 0 5px;
	padding: 10px;
	font-size: 14px;

	display: inline-block;
	width: 500px;
	background-color: white;

	-webkit-background-color: white !important;
}

.submitBtn {
	border-radius: 0 5px 5px 0;
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;

  background-color: #00a0ee;
}

.submitBtn:hover {
	background-color: #0080cc;
}

/* fix Chrome's yellow background */
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

/***** style inside .result-area *****/

.result-area {
	
}

.js-single-result {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px 15px;

	/* need negative margins to adjust the width */
	margin-left: -10px;
	margin-right: -10px;
}

.title-name {
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 25px;
	font-family: "Old Standard TT", serif;
}

.img-container {
	position: relative;
}

.img-container:hover, .img-vid {
	background: rgba(0, 0, 0, 0.5);;
}

.img-vid {
	float: left;
	margin-right: 15px;
	margin-bottom: 4px;
}

/* remove space between spans */


.remainingText {
	color: red;
}

.showMore, .showLess {
	color: lightblue;
	cursor: pointer;
}

.hideText {
	display: none;
}

.wiki-para {
	margin-bottom: 10px;
}

.wiki-link {
	color: lightblue;
	text-decoration: none;
}

.wiki-link:hover {
	color: red;
}



.img-container {
	position: relative;
}

.img-container .after {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	color: #fff;
}

.img-container:hover .after {
	display: block;
	background: rgba(0, 0, 0, 0.6);
}

/* footer */
footer {
	color: white;
	font-family: "Questrial", sans-serif;
	font-size: 14px;

	margin-bottom: 15px;
	text-align: center;
}

/*****************/